.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .employee {
    max-width: 40em;
    padding: 4px;
    margin-bottom: 20px;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background: aliceblue;
  }